/*============    RESET    ===========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

}

.main {
  flex-grow: 1;
  //flex: 0 1 auto;
}

.footerFluid {
  //flex: 0 1 auto;

}

ol, ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  outline: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
}

a:hover,
a:link,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}

/* hide horizontal scroll */
//body {
//  overflow-x: hidden;
//}

/*============    FONTS    ===========*/
@font-face {
  font-family: 'Rubik Regular';
  src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
  url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl Bold';
  src: url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'),
  url('../fonts/MuseoSansCyrl-900.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Knockout Liteweight';
  src: url('../fonts/Knockout-HTF49-Liteweight.woff2') format('woff2'),
  url('../fonts/Knockout-HTF49-Liteweight.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik Bold';
  src: url('../fonts/Rubik-Bold.eot');
  src: url('../fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubik-Bold.woff') format('woff'),
  url('../fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik Medium';
  src: url('../fonts/Rubik-Medium.eot');
  src: url('../fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubik-Medium.woff') format('woff'),
  url('../fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.knockoutL {
  font-family: 'Knockout Liteweight';
  font-weight: 500;

}

.rubikR {
  font-family: 'Rubik Regular';
  font-weight: normal;
}

.museoSansB {
  font-family: 'Museo Sans Cyrl Bold';
  font-weight: bold;
}

.rubikB {
  font-family: 'Rubik Bold';
  font-weight: bold;
  font-style: normal;
}

.rubikM {
  font-family: 'Rubik Medium';
  font-weight: normal;
  font-weight: 500;
}

/*Variables for colors*/
.pink {
  color: rgb(235, 97, 162);
}

.bgPink {
  background: rgb(235, 97, 162);
}

.black {
  color: rgb(0, 0, 0);
}

.bgblack {
  background: rgb(34, 34, 34);
}

.white {
  color: rgb(255, 255, 255);
}

.bgWhite {
  background: rgb(255, 255, 255);
}

.grey {
  color: rgb(217, 217, 217);
}

.bgGrey {
  background: rgb(240, 240, 240);
}

.h1 {
  .knockoutL;
  font-size: 54px;
  .pink;
  letter-spacing: 5px;
}

.h4 {
  .rubikB;
  font-size: 25px;
  line-height: 1.6em;
  .white;
  letter-spacing: 1px;
}

p {
  color: #d4d5d3;
  .rubikR;
  font-size: 18px;
  color: #d4d5d3;
  line-height: 1.4em;
}

//shadow
.shadow {

  -webkit-box-shadow: inset 2px 0px 64px 10px rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 2px 0px 64px 10px rgba(255, 255, 255, 1);
  box-shadow: inset 2px 0px 64px 10px rgba(255, 255, 255, 1);

  transition: box-shadow 0.2s ease;

}

.email::-webkit-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}

.email::-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}

.email:-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}

.email:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}

.email:focus::-webkit-input-placeholder {
  text-indent: 700px;
  transition: text-indent 0.6s ease;
}

.email:focus::-moz-placeholder {
  text-indent: 700px;
  transition: text-indent 0.6s ease;
}

.email:focus:-moz-placeholder {
  text-indent: 700px;
  transition: text-indent 0.6s ease;
}

.email:focus:-ms-input-placeholder {
  text-indent: 700px;
  transition: text-indent 0.6s ease;
}

//  header start
header {
  min-height: 69px;
  .bgblack;
  .headerFluid {
    .headerContainer {

      .headerWrap {
        padding-top: 16px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          //padding-left: 10%;
          a {
            img {
              width: 100px;
            }

          }
        }

        .leftHeader {
          display: flex;
          align-items: center;
          .navMenu {
            .closeBtnMenu {
              display: none;
            }
            .ulNav {
              display: flex;
              li {
                a {
                  .rubikR;
                  font-size: 16px;
                  .white;
                  text-transform: uppercase;
                  border-bottom: 1px solid transparent;
                  -moz-transition: all 0.2s 0.02s ease;
                  -o-transition: all 0.2s 0.02s ease;
                  -webkit-transition: all 0.2s 0.02s ease;
                  margin-left: 19px;
                  margin-right: 19px;
                  padding-bottom: 5px;

                  &:hover {
                    border-bottom: 1px solid #ffffff;
                    -moz-transition: all 0.2s 0.02s ease;
                    -o-transition: all 0.2s 0.02s ease;
                    -webkit-transition: all 0.2s 0.02s ease;
                  }
                }
              }
            }
          }
          /*Hide on desktop */
          .openNav {
            display: none;
          }
        }
        .rightHeader {
          padding-top: 5px;
          ul {
            display: flex;
            li {
              margin-right: 16px;
              a {
                img {
                  width: 18px;
                }
              }
              .facebook {
                img {
                  width: 22.5px;

                }
              }
              .twitter {
                img {
                  width: 21px;

                }
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}

//  header end
/* getEarlyAccessFluid Section Start*/
.getEarlyAccessFluid {
  background: url("../img/bg.png") no-repeat center top;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 130px;
  background-position: 100% 100%;

  .getEarlyAccessContainer {
    .h1 {
      margin-top: 0;
    }
    .getEarlyAcces {
      display: flex;
      //align-items: center;
      justify-content: space-around;
    }
    .socksImg {
      img {
        width: 300px;
        //width: 100%;
      }
    }
    .access {
      //.shadow;
      max-width: 590px;
      width: 100%;
      padding: 20px 53px 83px 73px;

      //border: 5px solid #ffffff;
      // margin: 0 auto;
      //transition: box-shadow 0.3s ease;
      p {
        padding-bottom: 40px;
        letter-spacing: 1px;
      }
      .emailAudit {
        //margin-top: 40px;
        .email {

          background: transparent;
          .white;
          .rubikR;
          // margin-right: 50px;
          //margin-bottom: 20px;
          font-size: 18px;
          padding: 10px 25px;
          -moz-transition: all 0.2s 0.02s ease;
          -o-transition: all 0.2s 0.02s ease;
          -webkit-transition: all 0.2s 0.02s ease;
          border: 4px solid #eb61a2;

          display: block;
          width: 100%;
          max-width: 300px;
          //margin: 0 auto;
          margin-bottom: 15px;
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          .white;
          .rubikR;
          font-size: 18px;
          text-align: center;

        }
        ::-moz-placeholder { /* Firefox 19+ */
          .white;
          .rubikR;
          font-size: 18px;
          text-align: center;

        }
        :-ms-input-placeholder { /* IE 10+ */
          .white;
          .rubikR;
          font-size: 18px;
          text-align: center;

        }
        :-moz-placeholder { /* Firefox 18- */
          .white;
          .rubikR;
          font-size: 18px;
          text-align: center;
        }
        .cumIn {
          background: #eb61a2;
          .white;

          .rubikR;
          text-transform: uppercase;
          font-size: 18px;
          display: block;
          width: 100%;
          max-width: 300px;
          //margin: 0 auto;
          border: none;
          padding: 14px 25px;
          -moz-transition: all 0.3s 0.02s ease;
          -o-transition: all 0.3s 0.02s ease;
          -webkit-transition: all 0.3s 0.02s ease;
          &:hover {
            background: rgb(243, 106, 172);

            -moz-transition: all 0.3s 0.02s ease;
            -o-transition: all 0.3s 0.02s ease;
            -webkit-transition: all 0.3s 0.02s ease;
          }
        }
      }
    }
    .errorFormEmail {
      display: none;
      margin-top: 17px;
      padding: 10px 0;
      color: red;
      background: #fff;
      letter-spacing: 1px;
      .rubikM;

    }
  }
}

/* getEarlyAccessFluid Section End*/

/*Footer start*/

footer {

  .footerFluid {
    margin-top: -160px;
    position: relative;
    min-height: 150px;
    padding-top: 80px;
    padding-bottom: 60px;
    .bgblack;
    .footerContainer {
      .footerInner {
        .titleFooter {
          .knockoutL;
          font-size: 26px;
          letter-spacing: 1px;
          .white;
        }
        .navFooter {
          margin-top: 35px;
          margin-bottom: 25px;
          ul {
            display: flex;
            justify-content: center;
            li {
              margin-right: 44px;
              a {
                img {
                  width: 35px;

                }
              }
              .facebook {
                img {
                  width: 40.5px;

                }
              }
              .twitter {
                img {
                  width: 40.5px;

                }
              }
              &:last-child {
                margin-right: 0;

              }
            }
          }
        }
        .copyRight {
          .knockoutL;
          font-size: 14px;
          .white;
          text-transform: uppercase;
          letter-spacing: 1px;

        }
        .logoFooter {
          padding-top: 25px;
          width: 100px;
        }
      }
    }
  }
}

/*Footer end*/

/* Media queries for Home SECTION*/

@media (min-width: 0px) and (max-width: 320px){

  .h1 {
    font-size: 43px;
    margin-bottom: 0;
  }

  /*General Media Settigns end*/
  /*Header start*/
  header {
    position: fixed;
    width: 100%;
    z-index: 999;
    .headerFluid {
      .headerContainer {
        .headerWrap {
          .logo {
            a {
              img {
                width: 92px;
              }

            }

          }
          .leftHeader {
            order: 1;
            .navMenu {

              height: 100%;
              width: 0;
              position: fixed;
              z-index: 1;
              top: 0;
              left: 0;
              background-color: #222222;
              overflow-x: hidden;
              transition: 0.5s;
              padding-top: 80px;
              text-align: center;

              .ulNav {
                display: block;
                li {
                  a {
                    display: block;

                    font-size: 29px;
                    color: #222222;
                    border-bottom: 2px solid #222222;
                    background: #ffffff;
                    text-transform: uppercase;
                    padding: 20px 0;
                    -moz-transition: all 0.2s 0.02s ease;
                    -o-transition: all 0.2s 0.02s ease;
                    -webkit-transition: all 0.2s 0.02s ease;

                    &:hover {
                      color: #ffffff;
                      background: black;
                      border-bottom: 2px solid black;
                      -moz-transition: all 0.2s 0.02s ease;
                      -o-transition: all 0.2s 0.02s ease;
                      -webkit-transition: all 0.2s 0.02s ease;
                    }
                  }
                }
              }
              .closeBtnMenu {
                display: block;
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 55px;
                margin-left: 50px;
                color: #fff;
                cursor: pointer;
                font-weight: bold;

              }

            }
            /*Hide on desktop */
            .openNav {
              display: block;
              margin-top: -14px;
              font-size: 35px;
              cursor: pointer;
              color: #ffffff;
            }
          }
          .rightHeader {
            padding-top: 0;
            ul {
              li {
                margin-right: 14px;
              }
            }
          }
        }
      }
    }
  }

  /*Header end*/
  .getEarlyAccessFluid {
    text-align: center;
    padding-top: 30px;
    min-height: 0px;
    padding-bottom: 30px;
    -webkit-background-size: cover;
    background-size: cover;

    .getEarlyAccessContainer {
      .socksImg {
        img {
          display: none;
        }
      }
      .access {
        padding: 5px 28px 28px 28px;
        //border: 3px solid #ffffff;
        .h4 {
          margin-top: 5px;
          padding-bottom: 11px;
        }

        .emailAudit {
          .email {
            width: 100%;
            display: block;

            margin-bottom: 20px;
            padding: 13px;
            margin-right: auto;
            margin-left: auto;
          }
          .cumIn {
            margin-right: auto;
            margin-left: auto;
          }
        }
        p {
          padding-bottom: 20px;
        }
      }
    }
  }

  //productsFluid start
  .productsFluid {
    padding-top: 30px;
    padding-bottom: 15px;
    .productsContainer {
      .h1 {
        margin-bottom: 10px;
      }
      .socksImg {
        height: 250px;
      }
      .desc {
        font-size: 20px;
      }
      .currentSockWrap {
        margin-bottom: 23px;
      }
    }

  }

  //productsFluid end
  /*Footer start*/
  footer {

    .footerFluid {
      min-height: 0;
      margin-top: 0;
      padding-top: 5px;
      padding-bottom: 32px;
      .footerContainer {
        .footerInner {
          margin-top: 20px;
          flex-direction: column;
          .navFooter {
            ul {
              justify-content: center;
              li {
                margin-right: 18px;
                a {
                  font-size: 12px;
                  img {
                    width: 25px;
                  }
                }
                .facebook {
                  img {
                    width: 30px;
                  }

                }
                .twitter {
                  img {
                    width: 30px;
                  }

                }
              }

            }
          }
          .copyRight {
            order: 1;
            margin-top: 20px;
            text-align: center;

          }
        }
      }
    }
  }

  /*Footer end*/

}

@media (min-width: 321px) and (max-width: 480px) {

  .h1 {
    font-size: 43px;
    margin-bottom: 0;
  }

  /*General Media Settigns end*/
  /*Header start*/
  header {
    position: fixed;
    width: 100%;
    z-index: 999;
    .headerFluid {
      .headerContainer {
        .headerWrap {
          .logo {
            a {
              img {
                width: 92px;
              }

            }

          }
          .leftHeader {
            order: 1;
            .navMenu {

              height: 100%;
              width: 0;
              position: fixed;
              z-index: 1;
              top: 0;
              left: 0;
              background-color: #222222;
              overflow-x: hidden;
              transition: 0.5s;
              padding-top: 80px;
              text-align: center;

              .ulNav {
                display: block;
                li {
                  a {
                    display: block;

                    font-size: 29px;
                    color: #222222;
                    border-bottom: 2px solid #222222;
                    background: #ffffff;
                    text-transform: uppercase;
                    padding: 20px 0;
                    -moz-transition: all 0.2s 0.02s ease;
                    -o-transition: all 0.2s 0.02s ease;
                    -webkit-transition: all 0.2s 0.02s ease;

                    &:hover {
                      color: #ffffff;
                      background: black;
                      border-bottom: 2px solid black;
                      -moz-transition: all 0.2s 0.02s ease;
                      -o-transition: all 0.2s 0.02s ease;
                      -webkit-transition: all 0.2s 0.02s ease;
                    }
                  }
                }
              }
              .closeBtnMenu {
                display: block;
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 55px;
                margin-left: 50px;
                color: #fff;
                cursor: pointer;
                font-weight: bold;

              }

            }
            /*Hide on desktop */
            .openNav {
              display: block;
              margin-top: -14px;
              font-size: 35px;
              cursor: pointer;
              color: #ffffff;
            }
          }
          .rightHeader {
            padding-top: 0;
            ul {
              li {
                margin-right: 14px;
              }
            }
          }
        }
      }
    }
  }

  /*Header end*/
  .getEarlyAccessFluid {
    text-align: center;
    padding-top: 30px;
    min-height: 0px;
    padding-bottom: 30px;
    -webkit-background-size: cover;
    background-size: cover;

    .getEarlyAccessContainer {
      .socksImg {
        img {
          display: none;
        }
      }
      .access {
        padding: 5px 28px 28px 28px;
        //border: 3px solid #ffffff;
        .h4 {
          margin-top: 5px;
          padding-bottom: 11px;
        }

        .emailAudit {
          .email {
            width: 100%;
            display: block;

            margin-bottom: 20px;
            padding: 13px;
            margin-right: auto;
            margin-left: auto;
          }
          .cumIn {
            margin-right: auto;
            margin-left: auto;
          }
        }
        p {
          padding-bottom: 20px;
        }
      }
    }
  }

  //productsFluid start
  .productsFluid {
    padding-top: 30px;
    padding-bottom: 15px;
    .productsContainer {
      .h1 {
        margin-bottom: 10px;
      }
      .socksImg {
        height: 250px;
      }
      .desc {
        font-size: 20px;
      }
      .currentSockWrap {
        margin-bottom: 23px;
      }
    }

  }

  //productsFluid end
  /*Footer start*/
  footer {

    .footerFluid {
      min-height: 0;
      margin-top: 0;
      padding-top: 5px;
      padding-bottom: 32px;
      .footerContainer {
        .footerInner {
          margin-top: 20px;
          flex-direction: column;
          .navFooter {
            ul {
              justify-content: center;
              li {
                margin-right: 18px;
                a {
                  font-size: 12px;
                  img {
                    width: 25px;
                  }
                }
                .facebook {
                  img {
                    width: 30px;
                  }

                }
                .twitter {
                  img {
                    width: 30px;
                  }

                }
              }

            }
          }
          .copyRight {
            order: 1;
            margin-top: 20px;
            text-align: center;

          }
        }
      }
    }
  }

  /*Footer end*/

}

@media (min-width: 481px) and (max-width: 768px) {
  /*Header start*/
  header {
    position: fixed;
    width: 100%;
    z-index: 999;
    .headerFluid {
      .headerContainer {
        .headerWrap {
          .rightHeader {
            padding-top: 0;
          }
          .leftHeader {
            order: 1;
            .navMenu {

              height: 100%;
              width: 0;
              position: fixed;
              z-index: 1;
              top: 0;
              left: 0;
              background-color: #222222;
              overflow-x: hidden;
              transition: 0.5s;
              padding-top: 80px;
              text-align: center;

              .ulNav {
                display: block;
                li {
                  a {
                    display: block;

                    font-size: 29px;
                    color: #222222;
                    border-bottom: 2px solid #222222;
                    background: #ffffff;
                    text-transform: uppercase;
                    padding: 20px 0;
                    -moz-transition: all 0.2s 0.02s ease;
                    -o-transition: all 0.2s 0.02s ease;
                    -webkit-transition: all 0.2s 0.02s ease;

                    &:hover {
                      color: #ffffff;
                      background: black;
                      border-bottom: 2px solid black;
                      -moz-transition: all 0.2s 0.02s ease;
                      -o-transition: all 0.2s 0.02s ease;
                      -webkit-transition: all 0.2s 0.02s ease;
                    }
                  }
                }
              }
              .closeBtnMenu {
                display: block;
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 70px;
                margin-left: 50px;
                color: #fff;
                cursor: pointer;
                font-weight: bold;

              }

            }
            /*Hide on desktop */
            .openNav {
              display: block;
              margin-top: -14px;
              font-size: 35px;
              cursor: pointer;
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  /*Header end*/
  .getEarlyAccessFluid {
    text-align: center;

    min-height: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-background-size: cover;
    background-size: cover;

    .getEarlyAccessContainer {
      .socksImg {
        img {
          display: none;
        }
      }
      .access {
        padding: 15px 30px 30px 30px;
        .emailAudit {
          .email {
            margin-right: auto;
            margin-left: auto;
            width: 100%;
            display: block;
            margin-bottom: 20px;
          }
          .cumIn {
            margin-right: auto;
            margin-left: auto;
          }

        }
      }
    }
  }

  //productsFluid start
  //productsFluid start
  .productsFluid {
    padding-top: 30px;
    padding-bottom: 15px;
    .productsContainer {
      .h1 {
        margin-bottom: 10px;
      }
      .socksImg {
        height: 250px;
        display: none;
      }
      .desc {
        font-size: 20px;
      }
      .currentSockWrap {
        margin-bottom: 23px;
      }
    }

  }

  //productsFluid end
  //productsFluid end
  /*Footer start*/
  footer {

    .footerFluid {
      margin-top: 0;
      padding-top: 5px;
      padding-bottom: 20px;
      .footerContainer {
        .footerInner {
          margin-top: 20px;

          .navFooter {
            ul {

              li {

              }
            }
          }
          .copyRight {

          }
        }
      }
    }
  }

  /*Footer end*/

}

/* Media queries */

@media (min-width: 769px) and (max-width: 992px) {

  .getEarlyAccessFluid {

    min-height: 0px;
    padding-top: 50px;
    padding-bottom: 50px;

    .getEarlyAccessContainer {
      .socksImg {
        width: 44%;
        img {
          width: 277px;
        }
      }
      .access {
        width: 50%;
        padding: 0px 30px 30px 30px;
        .emailAudit {
          .email {
            width: 100%;
            display: block;
            margin-bottom: 20px;
          }
        }
      }
      .getEarlyAcces {
        justify-content: center;
      }
    }
  }

  //productsFluid start
  .productsFluid {
    padding-top: 30px;
    padding-bottom: 15px;
    .productsContainer {
      .h1 {
        margin-bottom: 30px;
      }
    }

  }

  //productsFluid end
  footer {
    .footerFluid {
      margin-top: 0;
      padding-top: 30px;
      padding-bottom: 30px;
    }

  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .getEarlyAccessFluid {

    min-height: 557px;
    padding-top: 55px;
    padding-bottom: 30px;

    .getEarlyAccessContainer {
      .access {
        .emailAudit {
          .email {
            width: 100%;
            display: block;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .productsFluid {
    .productsContainer {
      .desc {
        font-size: 22px;
      }
    }
  }

  footer {
    .footerFluid {
      margin-top: -70px;
      padding-top: 60px;
      padding-bottom: 60px;
    }

  }
}