/*============    RESET    ===========*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  height: 100%;
}
body {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
ol,
ul {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
}
a:hover,
a:link,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}
/* hide horizontal scroll */
@font-face {
  font-family: 'Rubik Regular';
  src: url('../fonts/Rubik-Regular.woff2') format('woff2'), url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl Bold';
  src: url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-900.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Knockout Liteweight';
  src: url('../fonts/Knockout-HTF49-Liteweight.woff2') format('woff2'), url('../fonts/Knockout-HTF49-Liteweight.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
.knockoutL {
  font-family: 'Knockout Liteweight';
  font-weight: 500;
}
.rubikR {
  font-family: 'Rubik Regular';
  font-weight: normal;
}
.museoSansB {
  font-family: 'Museo Sans Cyrl Bold';
  font-weight: bold;
}
/*Variables for colors*/
.pink {
  color: #eb61a2;
}
.bgPink {
  background: #eb61a2;
}
.black {
  color: #000000;
}
.bgblack {
  background: #000000;
}
.white {
  color: #ffffff;
}
.bgWhite {
  background: #ffffff;
}
.grey {
  color: #d9d9d9;
}
.bgGrey {
  background: #f0f0f0;
}
.h1 {
  font-family: 'Museo Sans Cyrl Bold';
  font-weight: bold;
  font-size: 54px;
  color: #000000;
}
.h4 {
  font-family: 'Museo Sans Cyrl Bold';
  font-weight: bold;
  font-size: 22px;
  color: #d9d9d9;
}
.main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.email::-webkit-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.6s ease;
  -o-transition: text-indent 0.6s ease;
  transition: text-indent 0.6s ease;
}
.email::-moz-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.6s ease;
  -o-transition: text-indent 0.6s ease;
  transition: text-indent 0.6s ease;
}
.email:-moz-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.6s ease;
  -o-transition: text-indent 0.6s ease;
  transition: text-indent 0.6s ease;
}
.email:-ms-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.6s ease;
  -o-transition: text-indent 0.6s ease;
  transition: text-indent 0.6s ease;
}
.email:focus::-webkit-input-placeholder {
  text-indent: 700px;
  -webkit-transition: text-indent 0.6s ease;
  -o-transition: text-indent 0.6s ease;
  transition: text-indent 0.6s ease;
}
.email:focus::-moz-placeholder {
  text-indent: 700px;
  -webkit-transition: text-indent 0.6s ease;
  -o-transition: text-indent 0.6s ease;
  transition: text-indent 0.6s ease;
}
.email:focus:-moz-placeholder {
  text-indent: 700px;
  -webkit-transition: text-indent 0.6s ease;
  -o-transition: text-indent 0.6s ease;
  transition: text-indent 0.6s ease;
}
.email:focus:-ms-input-placeholder {
  text-indent: 700px;
  -webkit-transition: text-indent 0.6s ease;
  -o-transition: text-indent 0.6s ease;
  transition: text-indent 0.6s ease;
}
header {
  min-height: 69px;
  background: #f36aac;
}
header .headerFluid .headerContainer .headerWrap {
  padding-top: 16px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header .headerFluid .headerContainer .headerWrap .logo a img {
  width: 100px;
}
header .headerFluid .headerContainer .headerWrap .leftHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*Hide on desktop */
}
header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu .closeBtnMenu {
  display: none;
}
header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu .ulNav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu .ulNav li a {
  font-family: 'Rubik Regular';
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  -moz-transition: all 0.2s 0.02s ease;
  -o-transition: all 0.2s 0.02s ease;
  -webkit-transition: all 0.2s 0.02s ease;
  margin-left: 19px;
  margin-right: 19px;
  padding-bottom: 5px;
}
header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu .ulNav li a:hover {
  border-bottom: 1px solid #ffffff;
  -moz-transition: all 0.2s 0.02s ease;
  -o-transition: all 0.2s 0.02s ease;
  -webkit-transition: all 0.2s 0.02s ease;
}
header .headerFluid .headerContainer .headerWrap .leftHeader .openNav {
  display: none;
}
header .headerFluid .headerContainer .headerWrap .rightHeader {
  padding-top: 5px;
}
header .headerFluid .headerContainer .headerWrap .rightHeader ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
header .headerFluid .headerContainer .headerWrap .rightHeader ul li {
  margin-right: 16px;
}
header .headerFluid .headerContainer .headerWrap .rightHeader ul li a img {
  width: 18px;
}
header .headerFluid .headerContainer .headerWrap .rightHeader ul li .facebook img {
  width: 22.5px;
}
header .headerFluid .headerContainer .headerWrap .rightHeader ul li .twitter img {
  width: 21px;
}
header .headerFluid .headerContainer .headerWrap .rightHeader ul li:last-child {
  margin-right: 0;
}
/* Come Get Yours Section Start*/
.comeGetYoursFluid {
  background: rgba(235, 97, 162, 0.1);
  padding-top: 130px;
  padding-bottom: 110px;
  background: #ffffff;
}
.comeGetYoursFluid .comeGetYoursContainer .sockImg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.comeGetYoursFluid .comeGetYoursContainer .sockImg .rightSock {
  margin-right: 35px;
}
.comeGetYoursFluid .comeGetYoursContainer .logoNeon {
  width: 300px;
}
.comeGetYoursFluid .comeGetYoursContainer .h1 {
  padding-top: 30px;
}
.comeGetYoursFluid .comeGetYoursContainer .h4 {
  padding-bottom: 20px;
}
.comeGetYoursFluid .comeGetYoursContainer .emailAudit .email {
  font-family: 'Rubik Regular';
  font-weight: normal;
  background: #f0f0f0;
  border: none;
  color: #222222;
  padding: 16px 22px;
}
.comeGetYoursFluid .comeGetYoursContainer .emailAudit .email ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #222222;
  font-family: 'Rubik Regular';
  font-weight: normal;
  font-size: 16px;
}
.comeGetYoursFluid .comeGetYoursContainer .emailAudit .email ::-moz-placeholder {
  /* Firefox 19+ */
  color: #222222;
  font-family: 'Rubik Regular';
  font-weight: normal;
  font-size: 16px;
}
.comeGetYoursFluid .comeGetYoursContainer .emailAudit .email :-ms-input-placeholder {
  /* IE 10+ */
  color: #222222;
  font-family: 'Rubik Regular';
  font-weight: normal;
  font-size: 16px;
}
.comeGetYoursFluid .comeGetYoursContainer .emailAudit .email :-moz-placeholder {
  /* Firefox 18- */
  color: #222222;
  font-family: 'Rubik Regular';
  font-weight: normal;
  font-size: 16px;
}
.comeGetYoursFluid .comeGetYoursContainer .emailAudit .signMe {
  background: #f36aac;
  color: #ffffff;
  font-family: 'Rubik Regular';
  font-weight: normal;
  font-size: 16px;
  border: none;
  padding: 16px 22px;
  margin-left: -5px;
}
/* Come Get Yours Section End*/
/*Footer start*/
footer .footerFluid {
  min-height: 150px;
  padding-top: 80px;
  padding-bottom: 60px;
  background: #f36aac;
}
footer .footerFluid .footerContainer .footerInner .titleFooter {
  font-family: 'Knockout Liteweight';
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 1px;
  color: #ffffff;
}
footer .footerFluid .footerContainer .footerInner .navFooter {
  margin-top: 35px;
  margin-bottom: 25px;
}
footer .footerFluid .footerContainer .footerInner .navFooter ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
footer .footerFluid .footerContainer .footerInner .navFooter ul li {
  margin-right: 44px;
}
footer .footerFluid .footerContainer .footerInner .navFooter ul li a img {
  width: 35px;
}
footer .footerFluid .footerContainer .footerInner .navFooter ul li .facebook img {
  width: 40.5px;
}
footer .footerFluid .footerContainer .footerInner .navFooter ul li .twitter img {
  width: 40.5px;
}
footer .footerFluid .footerContainer .footerInner .navFooter ul li:last-child {
  margin-right: 0;
}
footer .footerFluid .footerContainer .footerInner .copyRight {
  font-family: 'Knockout Liteweight';
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
footer .footerFluid .footerContainer .footerInner .logoFooter {
  padding-top: 25px;
  width: 100px;
}
/*Footer end*/
/* Media queries for Home SECTION*/
@media (min-width: 0px) and (max-width: 320px) {
  /*General Media Settigns start*/
  p {
    font-size: 15px;
  }
  .h1 {
    font-size: 30px;
    text-align: center;
    line-height: 38px;
  }
  /*General Media Settigns end*/
  /*Header start*/
  header {
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  header .headerFluid .headerContainer .headerWrap .logo a img {
    width: 92px;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    /*Hide on desktop */
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #eb61a2;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding-top: 80px;
    text-align: center;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu .ulNav {
    display: block;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu .ulNav li a {
    display: block;
    font-size: 29px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    background: #ff85beeb;
    text-transform: uppercase;
    padding: 20px 0;
    -moz-transition: all 0.2s 0.02s ease;
    -o-transition: all 0.2s 0.02s ease;
    -webkit-transition: all 0.2s 0.02s ease;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu .ulNav li a:hover {
    color: #ffffff;
    background: #0000002e;
    border-bottom: 2px solid #ffffff;
    -moz-transition: all 0.2s 0.02s ease;
    -o-transition: all 0.2s 0.02s ease;
    -webkit-transition: all 0.2s 0.02s ease;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu .closeBtnMenu {
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 55px;
    margin-left: 50px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .openNav {
    display: block;
    margin-top: -14px;
    font-size: 35px;
    cursor: pointer;
    color: #ffffff;
  }
  header .headerFluid .headerContainer .headerWrap .rightHeader {
    padding-top: 0;
  }
  header .headerFluid .headerContainer .headerWrap .rightHeader ul li {
    margin-right: 14px;
  }
  /*Header end*/
  /*comeGetYoursFluid start*/
  .comeGetYoursFluid {
    padding-top: 110px;
    padding-bottom: 30px;
  }
  .comeGetYoursFluid .comeGetYoursContainer .sockImg {
    display: none;
  }
  .comeGetYoursFluid .comeGetYoursContainer .h1 {
    padding-top: 0px;
  }
  .comeGetYoursFluid .comeGetYoursContainer .logoNeon {
    width: 160px;
  }
  .comeGetYoursFluid .comeGetYoursContainer .emailAudit .email {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  /*comeGetYoursFluid end*/
  /*Footer start*/
  footer .footerFluid {
    min-height: 0;
    padding-top: 5px;
    padding-bottom: 32px;
  }
  footer .footerFluid .footerContainer .footerInner {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .footerFluid .footerContainer .footerInner .navFooter ul {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  footer .footerFluid .footerContainer .footerInner .navFooter ul li {
    margin-right: 18px;
  }
  footer .footerFluid .footerContainer .footerInner .navFooter ul li a {
    font-size: 12px;
  }
  footer .footerFluid .footerContainer .footerInner .navFooter ul li a img {
    width: 25px;
  }
  footer .footerFluid .footerContainer .footerInner .navFooter ul li .facebook img {
    width: 30px;
  }
  footer .footerFluid .footerContainer .footerInner .navFooter ul li .twitter img {
    width: 30px;
  }
  footer .footerFluid .footerContainer .footerInner .copyRight {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-top: 20px;
    text-align: center;
  }
  /*Footer end*/
}
@media (min-width: 321px) and (max-width: 480px) {
  /*General Media Settigns start*/
  p {
    font-size: 15px;
  }
  .h1 {
    font-size: 30px;
    text-align: center;
    line-height: 38px;
  }
  /*General Media Settigns end*/
  /*Header start*/
  header {
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  header .headerFluid .headerContainer .headerWrap .logo a img {
    width: 92px;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    /*Hide on desktop */
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #eb61a2;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding-top: 80px;
    text-align: center;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu .ulNav {
    display: block;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu .ulNav li a {
    display: block;
    font-size: 29px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    background: #ff85beeb;
    text-transform: uppercase;
    padding: 20px 0;
    -moz-transition: all 0.2s 0.02s ease;
    -o-transition: all 0.2s 0.02s ease;
    -webkit-transition: all 0.2s 0.02s ease;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu .ulNav li a:hover {
    color: #ffffff;
    background: #0000002e;
    border-bottom: 2px solid #ffffff;
    -moz-transition: all 0.2s 0.02s ease;
    -o-transition: all 0.2s 0.02s ease;
    -webkit-transition: all 0.2s 0.02s ease;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu .closeBtnMenu {
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 55px;
    margin-left: 50px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .openNav {
    display: block;
    margin-top: -14px;
    font-size: 35px;
    cursor: pointer;
    color: #ffffff;
  }
  header .headerFluid .headerContainer .headerWrap .rightHeader {
    padding-top: 0;
  }
  header .headerFluid .headerContainer .headerWrap .rightHeader ul li {
    margin-right: 14px;
  }
  /*Header end*/
  /*comeGetYoursFluid start*/
  .comeGetYoursFluid {
    padding-top: 110px;
    padding-bottom: 30px;
  }
  .comeGetYoursFluid .comeGetYoursContainer .sockImg {
    display: none;
  }
  .comeGetYoursFluid .comeGetYoursContainer .h1 {
    padding-top: 0px;
  }
  .comeGetYoursFluid .comeGetYoursContainer .logoNeon {
    width: 160px;
  }
  .comeGetYoursFluid .comeGetYoursContainer .emailAudit .email {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  /*comeGetYoursFluid end*/
  /*Footer start*/
  footer .footerFluid {
    min-height: 0;
    padding-top: 5px;
    padding-bottom: 32px;
  }
  footer .footerFluid .footerContainer .footerInner {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .footerFluid .footerContainer .footerInner .navFooter ul {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  footer .footerFluid .footerContainer .footerInner .navFooter ul li {
    margin-right: 18px;
  }
  footer .footerFluid .footerContainer .footerInner .navFooter ul li a {
    font-size: 12px;
  }
  footer .footerFluid .footerContainer .footerInner .navFooter ul li a img {
    width: 25px;
  }
  footer .footerFluid .footerContainer .footerInner .navFooter ul li .facebook img {
    width: 30px;
  }
  footer .footerFluid .footerContainer .footerInner .navFooter ul li .twitter img {
    width: 30px;
  }
  footer .footerFluid .footerContainer .footerInner .copyRight {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-top: 20px;
    text-align: center;
  }
  /*Footer end*/
}
@media (min-width: 481px) and (max-width: 768px) {
  /*Header start*/
  header {
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  header .headerFluid .headerContainer .headerWrap .rightHeader {
    padding-top: 0;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    /*Hide on desktop */
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #eb61a2;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding-top: 80px;
    text-align: center;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu .ulNav {
    display: block;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu .ulNav li a {
    display: block;
    font-size: 29px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    background: #ff85beeb;
    text-transform: uppercase;
    padding: 20px 0;
    -moz-transition: all 0.2s 0.02s ease;
    -o-transition: all 0.2s 0.02s ease;
    -webkit-transition: all 0.2s 0.02s ease;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu .ulNav li a:hover {
    color: #ffffff;
    background: #0000002e;
    border-bottom: 2px solid #ffffff;
    -moz-transition: all 0.2s 0.02s ease;
    -o-transition: all 0.2s 0.02s ease;
    -webkit-transition: all 0.2s 0.02s ease;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .navMenu .closeBtnMenu {
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 70px;
    margin-left: 50px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }
  header .headerFluid .headerContainer .headerWrap .leftHeader .openNav {
    display: block;
    margin-top: -14px;
    font-size: 35px;
    cursor: pointer;
    color: #ffffff;
  }
  /*Header end*/
  /*comeGetYoursFluid start*/
  .comeGetYoursFluid {
    padding-top: 115px;
    padding-bottom: 40px;
  }
  .comeGetYoursFluid .comeGetYoursContainer .logoNeon {
    width: 250px;
    margin-top: 30px;
  }
  .comeGetYoursFluid .comeGetYoursContainer .h1 {
    padding-top: 15px;
  }
  .comeGetYoursFluid .comeGetYoursContainer .h4 {
    padding-bottom: 14px;
  }
  .comeGetYoursFluid .comeGetYoursContainer .emailAudit .email {
    width: 100%;
    max-width: 270px;
  }
  /*comeGetYoursFluid end*/
  /*Footer start*/
  footer .footerFluid {
    padding-top: 5px;
    padding-bottom: 20px;
  }
  footer .footerFluid .footerContainer .footerInner {
    margin-top: 20px;
  }
  /*Footer end*/
}
/* Media queries */
@media (min-width: 769px) and (max-width: 992px) {
  /*comeGetYoursFluid start*/
  .comeGetYoursFluid {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .comeGetYoursFluid .comeGetYoursContainer .logoNeon {
    width: 250px;
    margin-top: 30px;
  }
  .comeGetYoursFluid .comeGetYoursContainer .h1 {
    padding-top: 15px;
  }
  .comeGetYoursFluid .comeGetYoursContainer .h4 {
    padding-bottom: 14px;
  }
  .comeGetYoursFluid .comeGetYoursContainer .emailAudit .email {
    width: 100%;
    max-width: 300px;
  }
  /*comeGetYoursFluid end*/
  footer .footerFluid {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  /*comeGetYoursFluid start*/
  .comeGetYoursFluid {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  /*comeGetYoursFluid end*/
  footer .footerFluid {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
